<h1>Cities#show</h1>
<p>Find me in app/views/cities/show.html.erb</p>
<p>how do you display</p>

<div class="col-md-6">
  <%=image_tag(@city.rain_image_url, class: "img-responsive thumbnail") %>
</div>
