@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

//Fonts
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.pacifico_font {
  font-family: 'Pacifico', cursive;
}
.montserrat_font {
  font-family: 'Montserrat', sans-serif;
}

.lora_font {
  font-family: 'Lora', serif;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #222;
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
h1 {
    font-size: 50px;
}

.city {
  padding-top: 50px;

}

.home_image {
  background-image: url("home_image");
}

.shoreditch {
  background-image: url("shoreditch");
  padding-top: 25px;
  font-color: #333;
  }

#about {
  text-align: center;
  word-wrap: break-word;
}

.nav {
  font-size: 25px;
  padding-top: 25px;
  padding-left: 25px;
  color: #282;
  text-align: right;
}

.puppy_gif{
  padding-top: 50px;
}
